DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'shtxtdjapp',
        'USER': 'shtxtdjapp',
        'PASSWORD': 'shtxtdjapp',
        'HOST': 'db',
        'PORT': '5432'
    }
}
